<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>spingmvc</display-name>
  <!-- 加载spring的上下文 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath*:/applicationContext.xml</param-value>
  </context-param>
  <!-- 配置过滤器，解决POST乱码问题 -->
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<!-- 加载spring的监听 -->
<listener>
<listener-class>
org.springframework.web.context.ContextLoaderListener
</listener-class>
</listener>
<listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 </listener>
 <!-- jquery jar包引入spring框架 -->
<servlet-mapping>
<servlet-name>default</servlet-name>
<url-pattern>*.js</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>default</servlet-name>
<url-pattern>*.css</url-pattern>
</servlet-mapping>
<!-- 配置SpringMVC分发器，拦截所有请求 -->
 <servlet>
 <servlet-name>DispatcherServlet</servlet-name>
 <servlet-class>
  org.springframework.web.servlet.DispatcherServlet
 </servlet-class>
 <load-on-startup>1</load-on-startup>
 </servlet>
 <!--配置servlet与处理请求的映射模式-->
 <servlet-mapping>
 <servlet-name>DispatcherServlet</servlet-name>
 <url-pattern>/</url-pattern>
 </servlet-mapping>
 
  <servlet>
    <servlet-name>YZMServlet</servlet-name>
    <servlet-class>com.springmvc.servlet.YZMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YZMServlet</servlet-name>
    <url-pattern>/YZMServlet.do</url-pattern>
  </servlet-mapping>
  
</web-app>