<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RESTfulWS</display-name>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.eviac.blog.restws</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.huawei.controller.Register</servlet-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>test</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.huawei.controller.Login</servlet-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>test</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action</servlet-name>
    <servlet-class>com.huawei.controller.Action</servlet-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>test</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouponCode</servlet-name>
    <servlet-class>com.huawei.controller.CouponCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponCode</servlet-name>
    <url-pattern>/CouponCode.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckTest</servlet-name>
    <servlet-class>com.huawei.servlet.CheckTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTest</servlet-name>
    <url-pattern>/CheckTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryUser</servlet-name>
    <servlet-class>com.huawei.servlet.QueryUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUser</servlet-name>
    <url-pattern>/QueryUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperationData</servlet-name>
    <servlet-class>com.huawei.servlet.OperationData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationData</servlet-name>
    <url-pattern>/OperationData.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ExportData</servlet-name>
    <servlet-class>com.huawei.servlet.ExportData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportData</servlet-name>
    <url-pattern>/ExportData.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>com.huawei.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>